/*Importer les polices */
@font-face {
    font-family: 'Far From Homecoming';
    src: url("../Far-From\ Homecoming\ Updated.otf") format("opentype");
}

@media screen and (min-width: 750px) {
    #section1-contenu p {
        font-size: 25px;
    }
    #section3{
        justify-content: right;
        background-size: contain;
        padding-top: 5%;
    }
    .cases input{
        width: 250px;
    }
    h2 {
        font-size: 2.5vw;
    }
    #newsletter{
        background-position: 120% 0px;
        padding-bottom: 200px;
    }
    #contenu-section2{
        justify-content: space-between;
    }
}

@media screen and (max-width: 750px) {

    #les-3-spidermans {
        text-align: center;
    }

    nav {
        height: 0px;
    }

    nav a {
        display: none;
    }

    #nav {
        padding-top: 10px;
    }

    .logos {

        padding: 0px;
    }

    .logos img {
        display: flex;
        max-width: 120px;
        height: 40px;
    }

    #section1-contenu h1 {
        order: -1;
    }
    

    #section1-contenu p {
        order: 0;
    }

    #section1-contenu div {
        order: 1;
    }

    #span1{
        order: 0;
    }
    #span2{
        order: -1;
    }
    #contenu-section2{
        justify-content: center;
    }

    #section3{
        justify-content: center;
        background-size: cover;
        padding-top: 20%;
        padding-bottom: 20%;
    }
    #section3 p{
        text-align: center;
        width: 70vw;
    }
    #section3 button{
        
    }
    .cases input{
        width: 70vw;
    }
    #newsletter{
        background-position: right bottom;
    }
    .formulaire2{
        padding-top: 20%;
        padding-bottom: 20%;
    }
    
    .formulaire2 h2 p{
        text-align: center;
        width: 70vw;
    }
}

* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: #b11313;
}



h1,
h2 {
    font-family: 'Far From Homecoming', sans-serif;
    color: #FFFFFF;
    font-weight: lighter;
}

#section1 h1 {
    font-size: 4vw;
}

/* Css du haut de la page*/
#nav {
    display: flex;
    justify-content: space-between;
    background-color: red;
    padding: 5px;
    background-color: #b11313;
    margin: 0px;
    flex: 1 1 auto;
    flex-wrap: wrap;
}

.logos {
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#liens-nav {
    margin-right: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    padding-top: 10px;
    flex-shrink: 2;


}

#liens-nav a {
    color: #FFFFFF;
    text-decoration: none;
}

#section1 {
    background-image: url(./images_home/img1.png);
    background-position: right;
    background-size: cover;
    color: #FFFFFF;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: repeat(3, 18vw);
}

#section1-contenu {
    grid-row: 2;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}




.bouton1,
#contenu-section2 button {
    border-radius: 18px;
    padding: 12px;
    width: 145px;
    background-color: none;
    border: 0px;
    margin-right: 12px;
    margin-top: 25px;
    color: #bd1b1b;
}

#bouton2 {
    border-radius: 18px;
    padding: 12px;
    width: 145px;
    background-color: transparent;
    border-color: white;
    margin-right: 12px;
    margin-top: 25px;
    color: white;
    border: solid;
    border-width: thin;
}

#section2 {

    padding-top: 100px;
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 70px;
}


#section2 img {
    width: auto;
    height: auto;


}

#contenu-section2 {
    color: #ffffffb2;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

#section2 span {
    display: flex;
    flex-direction: column;
    height: 20%;

    justify-content: center;
    flex-shrink: 0;
    width: 300px;

}


#contenu-section2 ul {
    margin: 0px;
}

#contenu-section2 p,
#section2 p {

    padding: 2% 0%;
    margin: 0px;
}

#contenu-section2 button {
    margin-top: 20px;
    align-self: center;
    color: inherit;
    color: #bd1b1b;

}

#section3 {
    
    display: flex;
    background-image: url(./images_home/img5.png);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-color: #114c92;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

#section3 h1 {
    margin-bottom: 10px;
}



.formulaire {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.formulaire p {
    color: #ffffffb2;
    margin: 0px;
}

#envoie input {
    width: inherit;
    height: 2px;

}

.cases input {
    height: auto;
    border-radius: 20px;
    margin-top: 9px;
    padding: 3px 12px;
    border-width: thin;
}

.submit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit input {
    width: 140px;
    padding: 15px;
    border-radius: 12px;
    border-width: thin;
    background-color: transparent;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

#newsletter {
    background-image: url(./images_home/img6.png);
    background-size: contain;
    color: #FFFFFF;
    background-repeat: no-repeat;
    
    padding-left: 10%;
    padding-right: 10%;

}

#newsletter h4 {
    color: #ffffffb2;
    margin-top: 0px;
}

.formulaire2 {
    display: flex;
    flex-direction: column;
    padding-top: 35px;


}

.cases.newsletter input {
    border-width: thin;
    border-color: #ffffff;
    color: #ffffff;
    background-color: transparent;
    margin-top: 17px;
}

.checkbox {
    margin-top: 17px;
    margin-bottom: 0px;
}

.submit2 {
    margin-top: 20px;
    align-self: center;

}

.bouton-inscription {
    border-radius: 8px;
    padding: 12px;
    width: 200px;
    background-color: none;
    border: 0px;
    margin-right: 12px;
    margin-top: 25px;
    color: #bd1b1b;
    align-self: center;
    margin-left: 10%;

}

#footer {
    background-color: #000000;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;



}

#footer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30px;
    align-items: center;
    flex-wrap: wrap;
}

#footer1 .logos {
    margin-left: 0px;
    gap: 4px;
}

#footer1 .logos img {
    max-width: 100px;
    max-height: 40px;

}

#footer a {
    color: #FFFFFF;
    text-decoration: none;
}

#footer-langue {
    background-color: #b11313;
    color: #FFFFFF;
    padding: 3px;
    width: 150px;
    border-radius: 12px;
    border-width: 0px;
}

#footer2 {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 40px;
}

#footer2 img {
    background-color: #bd1b1b;
    gap: 10px;
    border-radius: 12px;
    padding: 2px;
}

footer {
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    background-color: #000000
}